aiohttp==3.11.11
argon2-cffi==23.1.0
beautifulsoup4==4.12.3
colorama==0.4.6
cryptography==44.0.2
fastapi==0.115.6
gradio==5.25.0
gradio_modal==0.0.4
latex2mathml==3.77.0
Markdown==3.7
pandas==2.2.3
pydantic==2.10.4
pymdown-extensions==10.13
PyMuPDF==1.25.3
python_docx==1.1.2
PyYAML==6.0.2
rarfile==4.2
Requests==2.32.3
rich==13.9.4
rjsmin==1.2.3
tiktoken==0.8.0
uvicorn==0.34.0
websockets==14.1
zhipuai==2.1.5.20241204



